<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<div class="container-fluid"  id="jumps">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-2 align-middle">
      <button type="button" class="btn-lg btn-success" v-on:click="startCapture">Start Capture</button>
    </div>
    <div class="col-md-2">  
      <button type="button" class="btn-lg btn-danger" v-on:click="stopCapture">Stop Capture</button>
    </div>
    <div class="col-md-2 justify-content-center">
      <div class="row justify-content-center">
        <h1 class="display-2">\{{ jumps }}</h1>
      </div>
      <div class="row justify-content-center">
        <h4><span class="badge badge-secondary">Number of Jumps</span></h4>
      </div>  
    </div>  
    <div class="col-md-2">
      <div class="row justify-content-center">
        <h1 class="display-2">\{{ total_resps }}</h1>
      </div>
      <div class="row justify-content-center">
        <h4><span class="badge badge-secondary">GCloud Responses</span></h4>
      </div>     
    </div>  
    <div class="col-md-2">
      <div class="row justify-content-center">
        <h1 class="display-2">\{{ currentindex }}</h1>
      </div>
      <div class="row justify-content-center">
        <h4><span class="badge badge-secondary">GCloud Requests</span></h4>
      </div>     
    </div>  
  </div>
  <div class="container-fluid">
  <div class="row text-nowrap">
    <h5><span class="badge badge-secondary">Response Sequence</span></h5>
    \{{ resp_recv_str }}
  </div>
  </div>
</div>

<video width="320" height="240" id="player" controls autoplay></video>
<canvas id="canvas" width=320 height=240></canvas>
<div class="container-fluid">
  <canvas id="myChart" width=640 height=120></canvas>
</div>


<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  var mychartctx = document.getElementById('myChart').getContext('2d');;

  var wait = ms => new Promise( r => setTimeout(r, ms))

  const image = new Image();

  const constraints = {
    video: true,
  };

  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });


var drawChart = new Chart(mychartctx, {
    type: 'bar',
    data: {
        labels: [1,2,3,4,5,6],
        datasets: [{
            label: 'GCP response',
            yAxisID: 'leftAxis',
            borderColor: '#cc65fe',
            data: [1,2,3,4,5,6],
            fill: false,
            type: 'line'
        },{
          label: 'Jumps',
            data: [],
            type: 'line',
        }]
    },
    options: {
        scales: {
            yAxes: [{
            	id: 'leftAxis',	
            	position: 'left',
                ticks: {
                    beginAtZero:false
                }
            }]  
        }
    }
});

  var vueObj = new Vue({
    el: "#jumps",
    data: {
      y_loc: {},
      currentindex: 0,
      captureVideo: false,
      resprecv: [],
      jumpCountedAt: [],
      jumpCounter: 0,
      jumps: 0,
      jumpCounterSkipCheck: {},
      log: 'Log: ',
      intervalObj: '',
      chartObj: drawChart
    },
    methods: {
      startCapture: async function (event) {
        this.currentindex = 0;
        this.captureVideo = true;
        this.log = 'Log: '
        this.y_loc = {}
        this.jumps = 0
        this.y_loc = {}
        this.jumpCounter = 0;
        this.jumpCountedAt = [],
        this.jumpCounterSkipCheck =  {},
        this.resprecv = [];
        this.countJumps();
        await wait(5000);
        this.intervalObj = setInterval(() => {
          captureVideoStream(this, this.currentindex++)
        }, 200)
      },
      stopCapture: function () {
        clearInterval(this.intervalObj);
        this.captureVideo = false;
      },
      countJumps: async function() {
        while(this.captureVideo || this.jumpCounter < this.currentindex) {
            if(this.y_loc[this.jumpCounter]) {
              var n3 = parseInt(this.y_loc[this.jumpCounter -3]);
              var n2 = parseInt(this.y_loc[this.jumpCounter -2]);
              var n1 = parseInt(this.y_loc[this.jumpCounter -1]);
              var n = parseInt(this.y_loc[this.jumpCounter]);
              if (n1 == n2) n2 = n3;
              if(n2 > n1 && n > n1){
                 this.jumps++;
                 this.jumpCountedAt.push(this.y_loc[this.jumpCounter])
                 this.jumpCounter++;
              } else {
                  this.jumpCountedAt.push(0)  
                  this.jumpCounter++;  
              }     
            } else {
              if(this.jumpCounterSkipCheck[this.jumpCounter]) {
                this.jumpCounterSkipCheck[this.jumpCounter]++
              } else {
                this.jumpCounterSkipCheck[this.jumpCounter] = 1
              }
              if (this.jumpCounterSkipCheck[this.jumpCounter] == 5) {
                this.y_loc[this.jumpCounter] = this.y_loc[this.jumpCounter - 1]
              } else {
              await wait(1000);
              }
            }
      }}
    },
    watch: {
      jumps: function(val) {
        var current_loc = this.y_loc
        var jumpcountedpoints = this.jumpCountedAt;
        this.chartObj.data.datasets[0].data = Object.values(current_loc);
        this.chartObj.data.datasets[1].data = Object.values(jumpcountedpoints);
        this.chartObj.data.labels = Object.keys(current_loc);
        this.chartObj.update();
      }
    },
    computed: {
      total_resps: function() {
        return this.resprecv.length;
      },
      resp_recv_str: function() {
        return this.resprecv.toString();
      },
      jumpCountedAt_str: function () {
         return this.jumpCountedAt.toString();
      }
    }
    
  })



  function captureVideoStream(vueObj, index) {

    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    image.src = canvas.toDataURL("image/jpeg");

    fetch("http://localhost:9000/getImageCoordinates", {
      method: "post",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ dataurl: image.src })
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        
        y = data[0][0].y * canvas.height;        
        vueObj.y_loc[index] = y.toFixed(0);
        vueObj.resprecv.push(index)

      });

  };

</script>